# Scientific Computing with Python (Second Edition)

## Chapter 02

*We start by importing all from Numpy. As explained in Chapter 01 the examples are written assuming this import is initially done.*

In [1]:
from numpy import *

### 2.1 Variables

In [2]:
a = 1

diameter = 3.

height = 5.

cylinder = [diameter, height] # reference to a list

In [3]:
print(a, diameter, height,cylinder)

1 3.0 5.0 [3.0, 5.0]

In [4]:
x = 3 # integer (int)
y = 'sunny' # string (str)

In [5]:
print(type(x), type(y))

<class 'int'> <class 'str'>

In [6]:
a = b = c = 1   # a, b and c get the same value 1

In [7]:
print(a,b,c)

1 1 1

In [8]:
a = 1 
a = a + 1   # a gets the value 2 
a = 3 * a   # a gets the value 6

In [9]:
print(a)

6

In [10]:
a = 1
a += 1  # same as a = a + 1 
a *= 3  # same as a = 3 * a

In [11]:
print(a)

6

### 2.2 Numeric types
#### 2.2.1 Integers

In [12]:
6 // 2  # 3  an integer value

3

In [13]:
7 // 2  # 3

3

In [14]:
7 / 2   # 3.5  a float value

3.5

#### 2.2.2 Floating point numbers

In [15]:
a = 3.0

In [16]:
a = 30.0e-1

In [17]:
a = 30.e-1

In [18]:
0.4 - 0.3 # returns 0.10000000000000003

0.10000000000000003

In [19]:
0.4 - 0.3 == 0.1 # returns False

False

In [20]:
exp(1000.) # inf

/home/claus/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

inf

In [21]:
a = inf

In [22]:
3 - a   # -inf

-inf

In [23]:
3 + a   # inf

inf

In [24]:
a + a # inf

inf

In [25]:
a - a # nan

nan

In [26]:
 a / a # nan

nan

In [27]:
x = nan 
x < 0 # False

False

In [28]:
x > 0 # False

False

In [29]:
x == x # False

False

In [30]:
0 < inf     # True

True

In [31]:
inf <= inf  # True

True

In [32]:
 inf == inf  # True

True

In [33]:
-inf < inf  # True

True

In [34]:
inf - inf   # nan

nan

In [35]:
exp(-inf)   # 0

0.0

In [36]:
exp(1 / inf)  # 1

1.0

*Remove in the next cell the comment sign to provoke the error*

In [37]:
seterr(all = 'raise')
#exp(1000)

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [38]:
import sys 
sys.float_info.epsilon # 2.220446049250313e-16

2.220446049250313e-16

In [39]:
a = float('1.356')
print(a)

1.356

In [40]:
a = sc.pi            # returns 3.141592653589793 
a

NameError: name 'sc' is not defined

In [ ]:
a1 = float64(a)   # returns 3.1415926535897931 
a1

In [ ]:
a2 = float32(a)   # returns 3.1415927 
a2

In [ ]:
a - a1            # returns 0.0

In [ ]:
a - a2            # returns -8.7422780126189537e-08

In [ ]:
f32 = finfo(float32) 
f32.precision   # 6 (decimal digits)

In [ ]:
f64 = finfo(float64) 
f64.precision   # 15 (decimal digits)

In [ ]:
f = finfo(float) 
f.precision     # 15 (decimal digits)

In [ ]:
f64.max         # 1.7976931348623157e+308 (largest number)

In [ ]:
f32.max         # 3.4028235e+38 (largest number)

*Uncomment the next line to get the help text*

In [ ]:
# help(finfo)     # Check for more options

#### 2.2.3 Complex numbers

In [ ]:
z = 5.2j
z

In [ ]:
z = 3.5 + 5.2j
z

In [ ]:
b = 5.2

*Uncomment the next line to provoke the NameError*

In [ ]:
#z = bj   # returns a NameError

*Uncomment the next line to provoke the NameError*

In [ ]:
#z = b*j  # returns a NameError

In [ ]:
z = b*1j # is correct
z

In [ ]:
z = 3.2 + 5.2j 
z.conjugate() # returns (3.2-5.2j)

In [ ]:
z = 1j 
z.real       # 0.0

In [ ]:
z.imag       # 1.0

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# z.imag = 2   # AttributeError: readonly attribute

In [ ]:
z = 1 + 0j 
z == 1     # True

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# float(z)   # TypeError

In [ ]:
from matplotlib.pyplot import *
N = 10
# the following vector contains the Nth roots of unity: 
unity_roots = array([exp(1j*2*pi*k/N) for k in range(N)])
# access all the real or imaginary parts with real or imag:
axes(aspect='equal')
plot(unity_roots.real, unity_roots.imag, 'o')
allclose(unity_roots**N, 1) # True

In [ ]:
z = 3.2+5.2j 
(z + z.conjugate()) / 2.   # returns (3.2+0j)

In [ ]:
((z + z.conjugate()) / 2.).real   # returns 3.2

In [ ]:
(z - z.conjugate()) / 2.   # returns 5.2j

In [ ]:
((z - z.conjugate()) / 2.).imag   # returns 5.2

In [ ]:
sqrt(z * z.conjugate())   # returns (6.1057350089894991+0j)

## 2.3 Booleans

In [ ]:
a = True 
print(a)
b = 30 > 45   # b gets the value False
print(b)

In [ ]:
x= 5
if x > 0:
 print("positive")
else:
 print("nonpositive")

#### 2.3.1 Boolean operators

In [ ]:
True and False # False

In [ ]:
False or True # True

In [ ]:
(30 > 45) or (27 < 30) # True

In [ ]:
not True # False

In [ ]:
not (3 > 4) # True

In [ ]:
a=1; b=2; c=2
a < b < c     # same as: a < b and b < c

In [ ]:
a < b <= c    # same as: a < b and b <= c (less or equal)

In [ ]:
a == b == c   # same as: a == b and b == c

#### 2.3.2 Boolean casting

In [ ]:
Removebool([])   # False

In [ ]:
bool(0)   # False

In [ ]:
bool(' ')   # True

In [ ]:
bool('')   # False

In [ ]:
bool('hello')   # True

In [ ]:
bool(1.2)   # True

In [ ]:
bool(array([1]))   # True

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# bool(array([1,2]))   # Exception raised!

#### 2.3.3 Automatic Boolean casting

In [ ]:
a=10
if a:
   ...
if bool(a): # exactly the same as above
   ...

In [ ]:
L=[1,2,3]
if L:
    print("list not empty")
else:
    print("list is empty")

In [ ]:
L=[]
if L:
    print("list not empty")
else:
    print("list is empty")

In [ ]:
n = 20
if n % 2:      # the modulus operator
    print("n is odd")
else:
    print("n is even")

In [ ]:
n = 21
if n % 2:
    print("n is odd")
else:
    print("n is even")

#### 2.3.4 Return values of and and or

In [ ]:
x = 1; y = 0
x and y

In [ ]:
def and_as_function(x,y):
    if not x:
        return x
    else:
        return y

In [ ]:
and_as_function(x,y)

In [ ]:
x or y

In [ ]:
y or x

In [ ]:
def or_as_function(x,y):
    if x:
        return x
    else:
        return y

In [ ]:
or_as_function(x,y)

In [ ]:
del x
True or x

In [ ]:
False and x

In [ ]:
1 or 'a' # produces 1

In [ ]:
'a' or 1 # produces 'a'

#### 2.3.5 Boolean and integer

In [ ]:
def print_ispositive(x):
    possibilities = ['nonpositive or zero', 'positive']
    return f"x is {possibilities[x>0]}"

print_ispositive(-10)

In [ ]:
isinstance(True, bool)

In [ ]:
isinstance(False, bool)

In [ ]:
isinstance(True, int)

In [ ]:
isinstance(False, int)

In [ ]:
True + 13

### 2.4 Strings

In [ ]:
name = 'Johan Carlsson'

In [ ]:
child = "Åsa is Johan Carlsson's daughter"

In [ ]:
book = """Aunt Julia 
       and the Scriptwriter"""

In [ ]:
book[-1] # returns 'r'

In [ ]:
book[-12:] # returns 'Scriptwriter'

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# book[1] = 'a'

#### 2.4.1 Escape sequences and raw strings

In [ ]:
print('Temperature\t20\tC\nPressure\t5\tPa')

In [ ]:
a=""" 
A multi-line 
example""" 
a #  returns '\nA multi-line \nexample'

In [ ]:
print(a)

In [ ]:
latexfontsize="\\tiny"
print(latexfontsize)  # prints \tiny

In [ ]:
latexfs=r"\tiny"   # returns "\tiny"
latexfontsize == latexfs  # returns True

In [ ]:
print(r"\"")   # returns  \"

In [ ]:
print(r"\\")   # returns  \

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# print(r"\")    # returns an error (why?)

In [ ]:
r"\"" == '\\"'

In [ ]:
r"She: \"I am my dad's girl\"" == 'She: \\"I am my dad\'s girl\\"'

#### 2.4.2 Operations on strings and string methods

In [ ]:
last_name = 'Carlsson'
first_name = 'Johanna'
full_name = first_name + ' ' + last_name
                              # returns 'Johanna Carlsson'
full_name

In [ ]:
game = 2 * 'Yo' # returns 'YoYo'
game

*Remove in the next cell the comment sign to provoke the error*

In [ ]:
# game = 2.7 * 'Yo' # returns 'YoYo'

In [ ]:
'Anna' > 'Arvi' # returns false

In [41]:
'ANNA' < 'anna'  # returns true

True

In [42]:
'10B' < '11A'    # returns true

True

In [43]:
text = 'quod erat    demonstrandum'

In [44]:
text.split() # returns ['quod', 'erat', 'demonstrandum']

['quod', 'erat', 'demonstrandum']

In [45]:
table = 'Johan;Carlsson;19890327'
table.split(';') # returns ['Johan','Carlsson','19890327']

['Johan', 'Carlsson', '19890327']

In [46]:
king = 'CarlXVIGustaf'
king.split('XVI')  # returns ['Carl','Gustaf']

['Carl', 'Gustaf']

#### 2.4.3 String formatting

In [47]:
course_code = "NUMA01"
print("Course code: {}".format(course_code))    # Course code: NUMA01

Course code: NUMA01

In [48]:
course_code = "NUMA01"
print(f"Course code: {course_code}")            # Course code: NUMA01

Course code: NUMA01

In [49]:
quantity = 33.45
print("{:f}".format(quantity)) # 33.450000
print("{:1.1f}".format(quantity)) # 33.5
print("{:.2e}".format(quantity)) # 3.35e+01

33.450000
33.5
3.35e+01

In [50]:
quantity = 33.45
print(f"{quantity:1.1f}")         # 33.5

33.5

In [51]:
r"we {} in LaTeX \begin{{equation}}".format('like')

'we like in LaTeX \\begin{equation}'

### 2.5 Summary
*No code*

### 2.6 Exercises
*No code*